In [25]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint


election_data_2004_csv = "Resources/election_data2004.csv"

census_data_2004_csv = "Resources/population2000-2016ALL.csv"

In [26]:
election_data_2004= pd.read_csv(election_data_2004_csv)

census_data_2004= pd.read_csv(census_data_2004_csv)

In [49]:
election_data_2004['Location'] = (election_data_2004.state +", " +election_data_2004.county)
election_data_2004.head()

,year,state,state_code,county,candidate,party,candidate_votes,total_votes,Location
0,2004,Alabama,AL,Autauga,John Kerry,democrat,4758.0,20081,"Alabama, Autauga"
1,2004,Alabama,AL,Autauga,George W. Bush,republican,15196.0,20081,"Alabama, Autauga"
2,2004,Alabama,AL,Baldwin,John Kerry,democrat,15599.0,69320,"Alabama, Baldwin"
3,2004,Alabama,AL,Baldwin,George W. Bush,republican,52971.0,69320,"Alabama, Baldwin"
4,2004,Alabama,AL,Barbour,John Kerry,democrat,4832.0,10777,"Alabama, Barbour"

In [51]:

census_data_2004.head()
census_data_2004['new_county'] = census_data_2004['County'].str.replace(' County', '')

In [48]:
census_data_2004

,State,County,Location,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,new_county
0,Alabama,Autauga,"Alabama, Autauga County",44021,44889,45909,46800,48366,49676,51328,...,53277,54135,"54,773","55,227","54,954","54,727","54,893","54,864","55,243",Autauga
1,Alabama,Baldwin,"Alabama, Baldwin County",141342,144875,147957,151509,156266,162183,168121,...,175827,179406,"183,112","186,558","190,145","194,885","199,183","202,939","207,601",Baldwin
2,Alabama,Barbour,"Alabama, Barbour County",29015,28863,28653,28594,28287,28027,27861,...,27808,27657,"27,327","27,341","27,169","26,937","26,755","26,283","25,806",Barbour
3,Alabama,Bibb,"Alabama, Bibb County",19913,21028,21199,21399,21721,22042,22099,...,22705,22941,"22,870","22,745","22,667","22,521","22,553","22,566","22,586",Bibb
4,Alabama,Blount,"Alabama, Blount County",51107,51845,52551,53457,54124,54624,55485,...,57055,57341,"57,376","57,560","57,580","57,619","57,526","57,526","57,494",Blount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater,"Wyoming, Sweetwater County",37552,36899,37428,37450,38026,38739,39749,...,42358,44133,"43,574","43,986","45,002","45,157","44,948","44,719","44,222",Sweetwater
3140,Wyoming,Teton,"Wyoming, Teton County",18381,18653,18837,19066,19467,19632,20014,...,20988,21232,"21,296","21,414","21,624","22,315","22,773","23,047","23,234",Teton
3141,Wyoming,Uinta,"Wyoming, Uinta County",19666,19413,19587,19480,19470,19494,19709,...,20613,21054,"21,089","20,896","20,996","20,951","20,822","20,763","20,682",Uinta
3142,Wyoming,Washakie,"Wyoming, Washakie County",8252,8068,7988,7976,7960,8022,7979,...,8229,8423,"8,530","8,449","8,409","8,413","8,273","8,278","8,165",Washakie
3143,Wyoming,Weston,"Wyoming, Weston County",6627,6487,6578,6610,6646,6594,6717,...,7133,7266,"7,198","7,142","7,077","7,136","7,138","7,208","7,220",Weston

In [34]:
election_data_2004_11 = election_data_2004[election_data_2004['party']=="democrat"]
election_data_2004_11

,year,state,state_code,county,candidate,party,candidate_votes,total_votes,Location
0,2004,Alabama,AL,Autauga,John Kerry,democrat,4758.0,20081,"Alabama, Autauga"
2,2004,Alabama,AL,Baldwin,John Kerry,democrat,15599.0,69320,"Alabama, Baldwin"
4,2004,Alabama,AL,Barbour,John Kerry,democrat,4832.0,10777,"Alabama, Barbour"
6,2004,Alabama,AL,Bibb,John Kerry,democrat,2089.0,7600,"Alabama, Bibb"
8,2004,Alabama,AL,Blount,John Kerry,democrat,3938.0,21504,"Alabama, Blount"
...,...,...,...,...,...,...,...,...,...
6298,2004,Alaska,AK,District 36,John Kerry,democrat,3245.0,9241,"Alaska, District 36"
6300,2004,Alaska,AK,District 37,John Kerry,democrat,1970.0,5208,"Alaska, District 37"
6302,2004,Alaska,AK,District 38,John Kerry,democrat,2366.0,5075,"Alaska, District 38"
6304,2004,Alaska,AK,District 39,John Kerry,democrat,2365.0,5568,"Alaska, District 39"
6306,2004,Alaska,AK,District 40,John Kerry,democrat,2328.0,5788,"Alaska, District 40"

In [39]:
csv2 = election_data_2004_11[['Location']].copy()
csv3 = census_data_2004[['Location']].copy()

In [40]:
csv2.merge(csv3, how='inner')

                                     Location
0  District of Columbia, District of Columbia
1                  Missouri, St. Louis County
2                         Nevada, Carson City

In [21]:
len(election_data_2004[['Location']]), len(census_data_2004[['Location']])

(6308, 3141)

In [ ]:
column_values = df[["A", "B"]].values.ravel()
unique_values =  pd.unique(column_values)