In [2]:
#import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint

#file locations
#election file
election_data_2016_csv = "Resources/election_data2016.csv"
#census file
census_data_2016_csv = "Resources/population2000-2016ALL.csv"

In [3]:
#read CSV files
election_data_2016= pd.read_csv(election_data_2016_csv)
census_data_2016= pd.read_csv(census_data_2016_csv)

In [4]:
#create column which combines State and County name into one column (Location) for precision when merging
#some county names are repeated in multiple states
election_data_2016['Location'] = (election_data_2016.state +", " +election_data_2016.county)
election_data_2016

,year,state,state_code,county,candidate,party,candidate_votes,total_votes,Location
0,2016,Alabama,AL,Autauga,Hillary Clinton,democrat,5936.0,24973,"Alabama, Autauga"
1,2016,Alabama,AL,Autauga,Donald Trump,republican,18172.0,24973,"Alabama, Autauga"
2,2016,Alabama,AL,Baldwin,Hillary Clinton,democrat,18458.0,95215,"Alabama, Baldwin"
3,2016,Alabama,AL,Baldwin,Donald Trump,republican,72883.0,95215,"Alabama, Baldwin"
4,2016,Alabama,AL,Barbour,Hillary Clinton,democrat,4871.0,10469,"Alabama, Barbour"
...,...,...,...,...,...,...,...,...,...
6301,2016,Alaska,AK,District 38,Donald Trump,republican,1143.0,5095,"Alaska, District 38"
6302,2016,Alaska,AK,District 39,Hillary Clinton,democrat,3142.0,5639,"Alaska, District 39"
6303,2016,Alaska,AK,District 39,Donald Trump,republican,1405.0,5639,"Alaska, District 39"
6304,2016,Alaska,AK,District 40,Hillary Clinton,democrat,2338.0,4610,"Alaska, District 40"
6305,2016,Alaska,AK,District 40,Donald Trump,republican,1377.0,4610,"Alaska, District 40"

In [6]:
#remove the word 'county' from county column in census data to make more location matches, create new column with these cleaner names
census_data_2016['new_county'] = census_data_2016['County'].str.replace(' County', '')

In [7]:
#census_data_2016
#confirm individual political parties, no green/other/nan present for this yeaer
election_data_2016['party'].value_counts()

republican    3153
democrat      3153
Name: party, dtype: int64

In [8]:
#filter out data to only see democrat party so there are less repeats in data when comparing
election_data_2016_11 = election_data_2016[election_data_2016['party']=="democrat"]
election_data_2016_11

,year,state,state_code,county,candidate,party,candidate_votes,total_votes,Location
0,2016,Alabama,AL,Autauga,Hillary Clinton,democrat,5936.0,24973,"Alabama, Autauga"
2,2016,Alabama,AL,Baldwin,Hillary Clinton,democrat,18458.0,95215,"Alabama, Baldwin"
4,2016,Alabama,AL,Barbour,Hillary Clinton,democrat,4871.0,10469,"Alabama, Barbour"
6,2016,Alabama,AL,Bibb,Hillary Clinton,democrat,1874.0,8819,"Alabama, Bibb"
8,2016,Alabama,AL,Blount,Hillary Clinton,democrat,2156.0,25588,"Alabama, Blount"
...,...,...,...,...,...,...,...,...,...
6296,2016,Alaska,AK,District 36,Hillary Clinton,democrat,2693.0,8264,"Alaska, District 36"
6298,2016,Alaska,AK,District 37,Hillary Clinton,democrat,2421.0,5062,"Alaska, District 37"
6300,2016,Alaska,AK,District 38,Hillary Clinton,democrat,2758.0,5095,"Alaska, District 38"
6302,2016,Alaska,AK,District 39,Hillary Clinton,democrat,3142.0,5639,"Alaska, District 39"
6304,2016,Alaska,AK,District 40,Hillary Clinton,democrat,2338.0,4610,"Alaska, District 40"

In [10]:
#create separate lists of the location column in each dataframe
csv2 = election_data_2016_11.Location.tolist()
csv3 = census_data_2016.Location.tolist()

In [11]:
#find differences between columns
list_difference = []
for item in csv2:
  if item not in csv3:
    list_difference.append(item)

In [12]:
print(list_difference)

['Florida, Desoto', 'Louisiana, Acadia', 'Louisiana, Allen', 'Louisiana, Ascension', 'Louisiana, Assumption', 'Louisiana, Avoyelles', 'Louisiana, Beauregard', 'Louisiana, Bienville', 'Louisiana, Bossier', 'Louisiana, Caddo', 'Louisiana, Calcasieu', 'Louisiana, Caldwell', 'Louisiana, Cameron', 'Louisiana, Catahoula', 'Louisiana, Claiborne', 'Louisiana, Concordia', 'Louisiana, De Soto', 'Louisiana, East Baton Rouge', 'Louisiana, East Carroll', 'Louisiana, East Feliciana', 'Louisiana, Evangeline', 'Louisiana, Franklin', 'Louisiana, Grant', 'Louisiana, Iberia', 'Louisiana, Iberville', 'Louisiana, Jackson', 'Louisiana, Jefferson', 'Louisiana, Jefferson Davis', 'Louisiana, Lafayette', 'Louisiana, Lafourche', 'Louisiana, La Salle', 'Louisiana, Lincoln', 'Louisiana, Livingston', 'Louisiana, Madison', 'Louisiana, Morehouse', 'Louisiana, Natchitoches', 'Louisiana, Orleans', 'Louisiana, Ouachita', 'Louisiana, Plaquemines', 'Louisiana, Pointe Coupee', 'Louisiana, Rapides', 'Louisiana, Red River', 'Louisiana, Richland', 'Louisiana, Sabine', 'Louisiana, St. Bernard', 'Louisiana, St. Charles', 'Louisiana, St. Helena', 'Louisiana, St. James', 'Louisiana, St. John the Baptist', 'Louisiana, St. Landry', 'Louisiana, St. Martin', 'Louisiana, St. Mary', 'Louisiana, St. Tammany', 'Louisiana, Tangipahoa', 'Louisiana, Tensas', 'Louisiana, Terrebonne', 'Louisiana, Union', 'Louisiana, Vermilion', 'Louisiana, Vernon', 'Louisiana, Washington', 'Louisiana, Webster', 'Louisiana, West Baton Rouge', 'Louisiana, West Carroll', 'Louisiana, West Feliciana', 'Louisiana, Winn', 'Maryland, Baltimore City', 'Minnesota, Lac Qui Parle', 'Minnesota, Saint Louis', 'Missouri, St. Louis County', 'Missouri, St. Louis City', 'New Mexico, Dona Ana', 'Missouri, Kansas City', 'South Dakota, Oglala Lakota', 'Texas, Dewitt', 'Virginia, Alexandria', 'Virginia, Bristol', 'Virginia, Buena Vista', 'Virginia, Charlottesville', 'Virginia, Chesapeake', 'Virginia, Colonial Heights', 'Virginia, Covington', 'Virginia, Danville', 'Virginia, Emporia', 'Virginia, Falls Church', 'Virginia, Fredericksburg', 'Virginia, Galax', 'Virginia, Hampton', 'Virginia, Harrisonburg', 'Virginia, Hopewell', 'Virginia, Lexington', 'Virginia, Lynchburg', 'Virginia, Manassas', 'Virginia, Manassas Park', 'Virginia, Martinsville', 'Virginia, Newport News', 'Virginia, Norfolk', 'Virginia, Norton', 'Virginia, Petersburg', 'Virginia, Poquoson', 'Virginia, Portsmouth', 'Virginia, Radford', 'Virginia, Salem', 'Virginia, Staunton', 'Virginia, Suffolk', 'Virginia, Virginia Beach', 'Virginia, Waynesboro', 'Virginia, Williamsburg', 'Virginia, Winchester', 'Alaska, District 1', 'Alaska, District 2', 'Alaska, District 3', 'Alaska, District 4', 'Alaska, District 5', 'Alaska, District 6', 'Alaska, District 7', 'Alaska, District 8', 'Alaska, District 9', 'Alaska, District 10', 'Alaska, District 11', 'Alaska, District 12', 'Alaska, District 13', 'Alaska, District 14', 'Alaska, District 15', 'Alaska, District 16', 'Alaska, District 17', 'Alaska, District 18', 'Alaska, District 19', 'Alaska, District 20', 'Alaska, District 21', 'Alaska, District 22', 'Alaska, District 23', 'Alaska, District 24', 'Alaska, District 25', 'Alaska, District 26', 'Alaska, District 27', 'Alaska, District 28', 'Alaska, District 29', 'Alaska, District 30', 'Alaska, District 31', 'Alaska, District 32', 'Alaska, District 33', 'Alaska, District 34', 'Alaska, District 35', 'Alaska, District 36', 'Alaska, District 37', 'Alaska, District 38', 'Alaska, District 39', 'Alaska, District 40']

In [13]:
#find differences in the other direction
list_difference2 = []
for item in csv3:
  if item not in csv2:
    list_difference2.append(item)

In [14]:
print(list_difference2)

['Alaska, Aleutians East Borough', 'Alaska, Aleutians West Census Area', 'Alaska, Anchorage Municipality', 'Alaska, Bethel Census Area', 'Alaska, Bristol Bay Borough', 'Alaska, Denali Borough', 'Alaska, Dillingham Census Area', 'Alaska, Fairbanks North Star Borough', 'Alaska, Haines Borough', 'Alaska, Hoonah-Angoon Census Area', 'Alaska, Juneau City and Borough', 'Alaska, Kenai Peninsula Borough', 'Alaska, Ketchikan Gateway Borough', 'Alaska, Kodiak Island Borough', 'Alaska, Lake and Peninsula Borough', 'Alaska, Matanuska-Susitna Borough', 'Alaska, Nome Census Area', 'Alaska, North Slope Borough', 'Alaska, Northwest Arctic Borough', 'Alaska, Petersburg Census Area', 'Alaska, Prince of Wales-Hyder Census Area', 'Alaska, Sitka City and Borough', 'Alaska, Skagway Municipality', 'Alaska, Southeast Fairbanks Census Area', 'Alaska, Valdez-Cordova Census Area', 'Alaska, Wade Hampton Census Area', 'Alaska, Wrangell City and Borough', 'Alaska, Yakutat City and Borough', 'Alaska, Yukon-Koyukuk Census Area', 'Arizona, Arizona', 'Florida, DeSoto', 'Hawaii, Kalawao', 'Louisiana, Acadia Parish', 'Louisiana, Allen Parish', 'Louisiana, Ascension Parish', 'Louisiana, Assumption Parish', 'Louisiana, Avoyelles Parish', 'Louisiana, Beauregard Parish', 'Louisiana, Bienville Parish', 'Louisiana, Bossier Parish', 'Louisiana, Caddo Parish', 'Louisiana, Calcasieu Parish', 'Louisiana, Caldwell Parish', 'Louisiana, Cameron Parish', 'Louisiana, Catahoula Parish', 'Louisiana, Claiborne Parish', 'Louisiana, Concordia Parish', 'Louisiana, De Soto Parish', 'Louisiana, East Baton Rouge Parish', 'Louisiana, East Carroll Parish', 'Louisiana, East Feliciana Parish', 'Louisiana, Evangeline Parish', 'Louisiana, Franklin Parish', 'Louisiana, Grant Parish', 'Louisiana, Iberia Parish', 'Louisiana, Iberville Parish', 'Louisiana, Jackson Parish', 'Louisiana, Jefferson Parish', 'Louisiana, Jefferson Davis Parish', 'Louisiana, Lafayette Parish', 'Louisiana, Lafourche Parish', 'Louisiana, La Salle Parish', 'Louisiana, Lincoln Parish', 'Louisiana, Livingston Parish', 'Louisiana, Madison Parish', 'Louisiana, Morehouse Parish', 'Louisiana, Natchitoches Parish', 'Louisiana, Orleans Parish', 'Louisiana, Ouachita Parish', 'Louisiana, Plaquemines Parish', 'Louisiana, Pointe Coupee Parish', 'Louisiana, Rapides Parish', 'Louisiana, Red River Parish', 'Louisiana, Richland Parish', 'Louisiana, Sabine Parish', 'Louisiana, St. Bernard Parish', 'Louisiana, St. Charles Parish', 'Louisiana, St. Helena Parish', 'Louisiana, St. James Parish', 'Louisiana, St. John the Baptist Parish', 'Louisiana, St. Landry Parish', 'Louisiana, St. Martin Parish', 'Louisiana, St. Mary Parish', 'Louisiana, St. Tammany Parish', 'Louisiana, Tangipahoa Parish', 'Louisiana, Tensas Parish', 'Louisiana, Terrebonne Parish', 'Louisiana, Union Parish', 'Louisiana, Vermilion Parish', 'Louisiana, Vernon Parish', 'Louisiana, Washington Parish', 'Louisiana, Webster Parish', 'Louisiana, West Baton Rouge Parish', 'Louisiana, West Carroll Parish', 'Louisiana, West Feliciana Parish', 'Louisiana, Winn Parish', 'Maryland, Baltimore city', 'Minnesota, Lac qui Parle', 'Minnesota, St. Louis', 'Missouri, St. Louis', 'Missouri, St. Louis city', 'New Mexico, Doña Ana', 'South Dakota, Shannon', 'Texas, DeWitt', 'Virginia, Alexandria city', 'Virginia, Bedford city', 'Virginia, Bristol city', 'Virginia, Buena Vista city', 'Virginia, Charlottesville city', 'Virginia, Chesapeake city', 'Virginia, Colonial Heights city', 'Virginia, Covington city', 'Virginia, Danville city', 'Virginia, Emporia city', 'Virginia, Fairfax city', 'Virginia, Falls Church city', 'Virginia, Franklin city', 'Virginia, Fredericksburg city', 'Virginia, Galax city', 'Virginia, Hampton city', 'Virginia, Harrisonburg city', 'Virginia, Hopewell city', 'Virginia, Lexington city', 'Virginia, Lynchburg city', 'Virginia, Manassas city', 'Virginia, Manassas Park city', 'Virginia, Martinsville city', 'Virginia, Newport News city', 'Virginia, Norfolk city', 'Virginia, Norton city', 'Virginia, Petersburg city', 'Virginia, Poquoson city', 'Virginia, Portsmouth city', 'Virginia, Radford city', 'Virginia, Richmond city', 'Virginia, Roanoke city', 'Virginia, Salem city', 'Virginia, Staunton city', 'Virginia, Suffolk city', 'Virginia, Virginia Beach city', 'Virginia, Waynesboro city', 'Virginia, Williamsburg city', 'Virginia, Winchester city']

In [16]:
#count the total length of each difference list
len(list_difference2)

143

In [17]:
#count the total length of each difference list
len(list_difference)

148

In [18]:
#create new dataframes from each list, name the only column 'location'
election_locations_2016 = pd.DataFrame(csv2, columns = ['location'])
census_locations_2016 = pd.DataFrame(csv3, columns = ['location'])

In [34]:
#census_locations_2016

In [35]:
#election_locations_2016

In [21]:
#merging election data with common locations to create shorter, but matching data
result_locations_2016 = pd.merge(election_locations_2016, census_locations_2016, how='inner', left_on="location", right_on="location",
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [24]:
#view resuts, 3005 rows.
result_locations_2016

                 location
0        Alabama, Autauga
1        Alabama, Baldwin
2        Alabama, Barbour
3           Alabama, Bibb
4         Alabama, Blount
...                   ...
3000  Wyoming, Sweetwater
3001       Wyoming, Teton
3002       Wyoming, Uinta
3003    Wyoming, Washakie
3004      Wyoming, Weston

[3005 rows x 1 columns]

In [25]:
election_result_locations_2016 = pd.merge(result_locations_2016, election_data_2016, how='inner', left_on="location", right_on="Location",
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [36]:
#view results, 6026 rows
election_result_locations_2016

election_result_locations_2016_drop = election_result_locations_2016.drop(["location"], axis=1)

In [37]:
#resuults of ELECTION DATA to csv
election_result_locations_2016_drop.to_csv(r'Resources/ELECTION_results_FINAL_LOCATIONS_2016.csv', index = False, header=True)

In [31]:
#merging census data with common locations 

census_result_locations_2016 = pd.merge(result_locations_2016, census_data_2016, how='inner', left_on="location", right_on="Location",
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [38]:
census_result_locations_2016

census_result_locations_2016_drop = census_result_locations_2016.drop(['location', '2000', '2001', '2002', '2003', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012','2013', '2014', '2015', '2004'], axis=1)

In [39]:
#CENSUS data to CSV
census_result_locations_2016_drop.to_csv(r'Resources/CENSUS_results_FINAL_LOCATIONS_2016.csv', index = False, header=True)

In [42]:
census_AND_election_2016_1 = pd.merge(election_result_locations_2016_drop, census_result_locations_2016_drop, how='inner', left_on="Location", right_on="Location",
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [43]:
census_AND_election_2016_1

,year,state,state_code,county,candidate,party,candidate_votes,total_votes,Location,State,County,2016,new_county
0,2016,Alabama,AL,Autauga,Hillary Clinton,democrat,5936.0,24973,"Alabama, Autauga",Alabama,Autauga,"55,243",Autauga
1,2016,Alabama,AL,Autauga,Donald Trump,republican,18172.0,24973,"Alabama, Autauga",Alabama,Autauga,"55,243",Autauga
2,2016,Alabama,AL,Baldwin,Hillary Clinton,democrat,18458.0,95215,"Alabama, Baldwin",Alabama,Baldwin,"207,601",Baldwin
3,2016,Alabama,AL,Baldwin,Donald Trump,republican,72883.0,95215,"Alabama, Baldwin",Alabama,Baldwin,"207,601",Baldwin
4,2016,Alabama,AL,Barbour,Hillary Clinton,democrat,4871.0,10469,"Alabama, Barbour",Alabama,Barbour,"25,806",Barbour
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6053,2016,Wyoming,WY,Uinta,Donald Trump,republican,6154.0,8470,"Wyoming, Uinta",Wyoming,Uinta,"20,682",Uinta
6054,2016,Wyoming,WY,Washakie,Hillary Clinton,democrat,532.0,3814,"Wyoming, Washakie",Wyoming,Washakie,"8,165",Washakie
6055,2016,Wyoming,WY,Washakie,Donald Trump,republican,2911.0,3814,"Wyoming, Washakie",Wyoming,Washakie,"8,165",Washakie
6056,2016,Wyoming,WY,Weston,Hillary Clinton,democrat,299.0,3526,"Wyoming, Weston",Wyoming,Weston,"7,220",Weston
6057,2016,Wyoming,WY,Weston,Donald Trump,republican,3033.0,3526,"Wyoming, Weston",Wyoming,Weston,"7,220",Weston

In [44]:
census_AND_election_2016_drop = census_AND_election_2016_1.drop(['state', 'county', 'new_county'], axis=1)

In [45]:
census_AND_election_2016_drop_rename = census_AND_election_2016_drop.rename(columns={"year":"Year", "state_code":"State_Code", "candidate":"Candidate", "party":"Party", "candidate_votes":"Candidate_Votes", "total_votes":"Total_Votes", "2016":"County_Pop_2016"
})

In [46]:
census_AND_election_2016_reorder = census_AND_election_2016_drop_rename[["County", "State", "State_Code", "Location", "Year", "Party", "Candidate", "Candidate_Votes", "Total_Votes", "County_Pop_2016"]]

In [48]:
census_AND_election_2016_reorder

,County,State,State_Code,Location,Year,Party,Candidate,Candidate_Votes,Total_Votes,County_Pop_2016
0,Autauga,Alabama,AL,"Alabama, Autauga",2016,democrat,Hillary Clinton,5936.0,24973,"55,243"
1,Autauga,Alabama,AL,"Alabama, Autauga",2016,republican,Donald Trump,18172.0,24973,"55,243"
2,Baldwin,Alabama,AL,"Alabama, Baldwin",2016,democrat,Hillary Clinton,18458.0,95215,"207,601"
3,Baldwin,Alabama,AL,"Alabama, Baldwin",2016,republican,Donald Trump,72883.0,95215,"207,601"
4,Barbour,Alabama,AL,"Alabama, Barbour",2016,democrat,Hillary Clinton,4871.0,10469,"25,806"
...,...,...,...,...,...,...,...,...,...,...
6053,Uinta,Wyoming,WY,"Wyoming, Uinta",2016,republican,Donald Trump,6154.0,8470,"20,682"
6054,Washakie,Wyoming,WY,"Wyoming, Washakie",2016,democrat,Hillary Clinton,532.0,3814,"8,165"
6055,Washakie,Wyoming,WY,"Wyoming, Washakie",2016,republican,Donald Trump,2911.0,3814,"8,165"
6056,Weston,Wyoming,WY,"Wyoming, Weston",2016,democrat,Hillary Clinton,299.0,3526,"7,220"
6057,Weston,Wyoming,WY,"Wyoming, Weston",2016,republican,Donald Trump,3033.0,3526,"7,220"

In [ ]:
census_AND_election_2016_reorder.to_csv(r'Resources/Analysis Files/2016/CENSUS_and_POPULATION_FINAL_2004.csv', index = False, header=True)