In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint


election_all_csv = "Resources/election_all.csv"

In [6]:
election_all_df = pd.read_csv(election_all_csv)
election_all_df.head()
election_all_df.count()

year              50524
state             50524
state_po          50460
county            50524
FIPS              50476
office            50524
candidate         50524
party             34735
candidatevotes    50120
totalvotes        50524
version           50524
dtype: int64

In [12]:
el_df_drop_na = election_all_df.dropna(how='any')
el_df_drop_na.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203
5,2000,Alabama,AL,Baldwin,1003.0,President,George W. Bush,republican,40872.0,56480,20191203

In [25]:
el_df_clean = el_df_drop_na.drop(['FIPS','version','office'], axis=1)
el_df_clean

,year,state,state_po,county,candidate,party,candidatevotes,totalvotes
0,2000,Alabama,AL,Autauga,Al Gore,democrat,4942.0,17208
1,2000,Alabama,AL,Autauga,George W. Bush,republican,11993.0,17208
2,2000,Alabama,AL,Autauga,Ralph Nader,green,160.0,17208
4,2000,Alabama,AL,Baldwin,Al Gore,democrat,13997.0,56480
5,2000,Alabama,AL,Baldwin,George W. Bush,republican,40872.0,56480
...,...,...,...,...,...,...,...,...
50513,2016,Alaska,AK,District 38,Donald Trump,republican,1143.0,5095
50515,2016,Alaska,AK,District 39,Hillary Clinton,democrat,3142.0,5639
50516,2016,Alaska,AK,District 39,Donald Trump,republican,1405.0,5639
50518,2016,Alaska,AK,District 40,Hillary Clinton,democrat,2338.0,4610
50519,2016,Alaska,AK,District 40,Donald Trump,republican,1377.0,4610

In [29]:
election_2000 = el_df_clean.loc[el_df_clean["year"] == 2000]
election_2000

,year,state,state_po,county,candidate,party,candidatevotes,totalvotes
0,2000,Alabama,AL,Autauga,Al Gore,democrat,4942.0,17208
1,2000,Alabama,AL,Autauga,George W. Bush,republican,11993.0,17208
2,2000,Alabama,AL,Autauga,Ralph Nader,green,160.0,17208
4,2000,Alabama,AL,Baldwin,Al Gore,democrat,13997.0,56480
5,2000,Alabama,AL,Baldwin,George W. Bush,republican,40872.0,56480
...,...,...,...,...,...,...,...,...
50021,2000,Alaska,AK,District 39,George W. Bush,republican,2321.0,5188
50022,2000,Alaska,AK,District 39,Ralph Nader,green,383.0,5188
50024,2000,Alaska,AK,District 40,Al Gore,democrat,1024.0,3226
50025,2000,Alaska,AK,District 40,George W. Bush,republican,1831.0,3226
50026,2000,Alaska,AK,District 40,Ralph Nader,green,252.0,3226

In [32]:
election_2000.to_csv (r'Resources/election_data2000.csv', index = False, header=True)
["year", "state", "state_code", "county", "candidate", "party", "candidate_votes", "total_votes"]

['year',
 'state',
 'state_code',
 'county',
 'candidate',
 'party',
 'candidate_votes',
 'total_votes']