In [2]:

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress
from pprint import pprint


countyPopEst2000_2010_csv = "Resources/PopEst_2000_2010.csv"

In [3]:
countyPopEst2000_2010= pd.read_csv(countyPopEst2000_2010_csv)
#countyPopEst2000_2010

In [4]:
countyPopEst2000_2010.columns=["State", "County", "BASE2000", "2000", "2001","2002","2003","2004","2005","2006","2007","2008","2009","2010", "ESTIMATE2010"]
countyPopEst2000_2010

,State,County,BASE2000,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,ESTIMATE2010
0,Alabama,Autauga County,43751,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135,54571,54632
1,Alabama,Baldwin County,140416,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406,182265,183195
2,Alabama,Barbour County,29042,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657,27457,27411
3,Alabama,Bibb County,19856,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941,22915,22867
4,Alabama,Blount County,50982,51107,51845,52551,53457,54124,54624,55485,56240,57055,57341,57322,57338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater County,37620,37552,36899,37428,37450,38026,38739,39749,41470,42358,44133,43806,43621
3140,Wyoming,Teton County,18257,18381,18653,18837,19066,19467,19632,20014,20472,20988,21232,21294,21302
3141,Wyoming,Uinta County,19745,19666,19413,19587,19480,19470,19494,19709,20171,20613,21054,21118,21137
3142,Wyoming,Washakie County,8292,8252,8068,7988,7976,7960,8022,7979,8169,8229,8423,8533,8556
3143,Wyoming,Weston County,6643,6627,6487,6578,6610,6646,6594,6717,7033,7133,7266,7208,7182

In [5]:
countyPopEst2000_2009_drop = countyPopEst2000_2010.drop(columns=["BASE2000", "2010", "ESTIMATE2010"])
countyPopEst2000_2009_drop

,State,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,Alabama,Autauga County,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135
1,Alabama,Baldwin County,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406
2,Alabama,Barbour County,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657
3,Alabama,Bibb County,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941
4,Alabama,Blount County,51107,51845,52551,53457,54124,54624,55485,56240,57055,57341
...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater County,37552,36899,37428,37450,38026,38739,39749,41470,42358,44133
3140,Wyoming,Teton County,18381,18653,18837,19066,19467,19632,20014,20472,20988,21232
3141,Wyoming,Uinta County,19666,19413,19587,19480,19470,19494,19709,20171,20613,21054
3142,Wyoming,Washakie County,8252,8068,7988,7976,7960,8022,7979,8169,8229,8423
3143,Wyoming,Weston County,6627,6487,6578,6610,6646,6594,6717,7033,7133,7266

In [6]:
countyPopEst2000_2009_drop2 = pd.DataFrame(countyPopEst2000_2009_drop)

In [7]:
countyPopEst2000_2009_drop2['County'] = countyPopEst2000_2009_drop2['County'].str.replace(' County', '')

In [8]:
countyPopEst2000_2009_drop2

,State,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,Alabama,Autauga,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135
1,Alabama,Baldwin,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406
2,Alabama,Barbour,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657
3,Alabama,Bibb,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941
4,Alabama,Blount,51107,51845,52551,53457,54124,54624,55485,56240,57055,57341
...,...,...,...,...,...,...,...,...,...,...,...,...
3139,Wyoming,Sweetwater,37552,36899,37428,37450,38026,38739,39749,41470,42358,44133
3140,Wyoming,Teton,18381,18653,18837,19066,19467,19632,20014,20472,20988,21232
3141,Wyoming,Uinta,19666,19413,19587,19480,19470,19494,19709,20171,20613,21054
3142,Wyoming,Washakie,8252,8068,7988,7976,7960,8022,7979,8169,8229,8423
3143,Wyoming,Weston,6627,6487,6578,6610,6646,6594,6717,7033,7133,7266

In [9]:
countyPopEst2000_2009_drop2['State'] = countyPopEst2000_2009_drop2['State'].str.strip()
countyPopEst2000_2009_drop2['County'] = countyPopEst2000_2009_drop2['County'].str.strip()

In [10]:
countyPopEst2000_2009_drop2.to_csv (r'Resources/countyPopEst2000_2010_CLEAN.csv', index = False, header=True)